@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/mixins/media';

.onBoarding {
  display: flex;
  min-height: 100vh;

  &Content {
    @include respond-above(sm) {
      width: 55%;
    }
    @include respond-below(sm) {
      width: 100%;
    }
    margin-right: -5%;
    background: #ffffff;
    position: relative;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Sidebar {
    @include respond-below(sm) {
      display: none;
    }
    background: linear-gradient(214.77deg, #262262 0%, #9E1F63 100.08%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}
