@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/mixins/media';

.onboarding {
  display: flex;
  min-height: 100vh;

  &__content {
    @include respond-above(sm) {
      width: 55%;
    }
    @include respond-below(sm) {
      width: 100%;
    }
    margin-right: -5%;
    background: #ffffff;
    position: relative;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .steps {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-top: 50px;

      .step {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        max-width: 450px;

        &__title {
          color: $main-text-color;
          font-weight: $lighter-weight;
          font-size: 32px;
          line-height: 42px;
        }

        &__description {
          color: $secondary-text-color;
          font-weight: $lighter-weight;
          margin-top: 10px;
        }

        &__content {
          text-align: left;
          &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--center, &:only-child {
              justify-content: center;
            }
          }
        }
      }

      &__counter {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 25px;

        .circle {
          width: 15px;
          height: 15px;
          background: rgba(156, 32, 100, 0.2);
          margin-right: 18px;
          border-radius: 10px;

          &--active {
            background: #9C2064;
          }
        }
      }
    }
  }

  &__sidebar {
    @include respond-below(sm) {
      display: none;
    }
    background: linear-gradient(214.77deg, #262262 0%, #9E1F63 100.08%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

.settlement-referral-block {
    height: 150px;
}
