$background-lightgray: #F6F6FA;
$background-content: #FFFFFF;
$background-lightgreen: #EFF8ED;
$background-mysterium: linear-gradient(180deg, #562160 0%, #7B2061 48.96%, #64205D 100%);

$color-gray-blue: #9090BB;
$color-gray-blue2: #5A597D;
$color-white: #FFFFFF;
$color-green: #63B64E;
