$background-lightgray: #F6F6FA;
$background-content: #FFFFFF;
$background-mysterium: linear-gradient(180deg, #562160 0%, #7B2061 48.96%, #64205D 100%);

$gray_blue: #9090BB;
$gray_blue2: #5A597D;
$white: #FFFFFF
