// text color variables
$main-text-color: #1C1D21;
$secondary-text-color: #898989;
$inputs-labels-text-color: #8181A5;
$third-color: #9E1F63;

// fonts weights variables
$lighter-weight: 300;
$normal-weight: 400;
$medium-weight: 400;
$bold-weight: 600;

