// text color variables
$main-text-color: #1C1D21;
$secondary-text-color: #898989;
$inputs-labels-text-color: #8181A5;
$names-text-color: #9A9A9A;
$third-color: #9E1F63;

// fonts weights variables
$lighter-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 600;

// font sizes
$small-size: 0.5rem;
$smaller-size: 0.7rem;
$normal-size: 0.9rem;
$accent-size: 1rem;
$large-size: 1.1rem;
$larger-size: 1.3rem;
$huge-size: 1.8rem;
