@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.services-footer {
  background: #FFFFFF;
  border: 1px solid #ECECF2;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 20px;

  padding: 20px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__content {
  }

  .switch-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .text {
      font-style: normal;
      font-weight: $bold-weight;
      font-size: $normal-size;
      line-height: 17px;
      color: $main-text-color;

      @include respond-below(sm) {
        font-size: $small-size !important;
      }
    }

    .under-text {
      @include respond-above(sm) {
        font-style: normal;
        font-weight: $lighter-weight;
        font-size: $normal-size;
        line-height: 21px;
        color: $names-text-color;
        width: 80%;
      }
      @include respond-below(sm) {
        display: none;
      }
    }
  }

  .limits-block {
    display: flex;
    align-items: center;
    margin: 40px 0;

    .text {
      font-style: normal;
      font-weight: $bold-weight;
      font-size: $normal-size;
      line-height: 17px;
      color: $main-text-color;
      margin-left: 25px;
    }
  }

  .change-button {
    margin-left: 15px;
    width: 130px;

    @include respond-below(sm) {
      font-size: $small-size !important;
      width: 80px !important;
    }
  }
}
