@import '../../../../assets/styles/base/variables';

.service-list {
  display: flex;
  justify-content: space-between;

  .service {
    background: #FFFFFF;
    border: 1px solid #ECECF2;
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 25px;
    width: calc(50% - 11px);

    &__details {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #EEEEEE;
    }

    &__options {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .button {
        width: 126px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F5F5FA;
        border-radius: 8px;
        font-style: normal;
        font-weight: $medium-weight;
        font-size: 14px;
        line-height: 21px;
        color: rgba(101, 101, 101, 0.5);
        cursor: pointer;
        padding: 10px 0;
      }
    }
  }
}
