@import '../../../../assets/styles/base/variables';

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  padding: 0 20px;

  &__logo {
    width: 64px;
    height: 64px;
    position: relative;
    margin-right: 20px;
    border-radius: 8px;

    img {
      max-width: 100%;
    }

    .status-dot {
      position: absolute;
      bottom: 0;
      right: 0;
      border: 3px solid #FFFFFF;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    .status-dot.on {
      background: #6DD230;
    }

    .status-dot.off {
      background: #CB0D0D;
    }
  }

  &__name {
    .name {
      font-style: normal;
      font-weight: $medium-weight;
      font-size: 16px;
      line-height: 24px;
      color: $main-text-color;
    }

    .type {
      font-style: normal;
      font-weight: $normal-weight;
      font-size: 14px;
      line-height: 21px;
      color: $names-text-color
    }
  }
}
