@import '../../../constatnts';

.dashboardCover {
  padding: 24px;
  position: relative;
  height: 100vh;
  background: url('../../../app/components/assets/images/app-pattern.svg');
}

.dashboardContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-height: 95px;
  width: 112px;
  margin: 0 auto 0;
  background: url('../../../app/components/assets/images/logo-with-brand.png') no-repeat;
  background-size: contain;
}

@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background: url('../../../app/components/assets/images/logo-with-brand@2x.png') no-repeat;
    background-size: contain;
  }
}
