.overlay {
  width: 100%;
  opacity: 50%;
  z-index: 1000;
  height: 100%;
  background: #dfdfdfd1;
  position: fixed;
  top:        0;
  left:       0;
}

.spinner {
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  position: absolute;
  z-index: 1001;
  position: fixed;
}
