@import '../../../../../constatnts';

.dashboardActions {
  padding: 24px 0;
  width: 240px;
  display: flex;
  flex-direction: column;

  a, button {
    margin-top: 12px;
    padding: .8em 2em !important;
    min-height: 48px !important;
    color: $actionPurple;
    font-weight: bold;
    transition: all .3s ease;
    background: $whiteColor !important;

    &:hover {
      color: $darkPurple;
    }
  }

  .serviceBtn {
    margin-top: 48px;
  }

  button {
    &.started {
      background: $warningRed !important;
      color: $whiteColor !important;

      &:hover {
        background: darken($warningRed, 5%) !important;
      }
    }

    &.stopped {
      color: $warningRed !important;

      &:hover {
        color: darken($warningRed, 10%) !important;
      }
    }

  }
}

.activeConnections {
  color: white;
  text-align: center;
  margin-top: 12px;
}
