@import '../base/variables';
@import '../base/mixins/linear-border';

.btn {
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;

  &-empty {
    @include box-border-gradient(#262262, #9E1F63, 1px);
    color: #000000;
  }

  &-filled {
    background: linear-gradient(270deg, #262262 0%, #9E1F63 100%);
    color: #ffffff;
  }

  &-text {
    font-weight: $medium-weight;
    font-style: normal;
    font-size: 14px;
    border-radius: 8px;
  }

  &-center{
    margin: 0 auto;
  }
}

