.filled-btn{
  background: linear-gradient(270deg, #262262 0%, #9E1F63 100%);
  border-radius: 8px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #ffffff !important;
}
.empty-btn{
  background: #FFFFFF !important;
  border-radius: 8px !important;
  color: #000000 !important;
  font-style: $normal-weight !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  border: 2px solid red !important;
}