@import "../base/variables";

.input-group {
  &__label, label {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: $normal-weight;
    font-size: $normal-size;
    line-height: 21px;
    color: $secondary-text-color;
    margin-bottom: 6px;
    margin-top: 20px;
    text-align: left;
  }
  label {
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  &__help {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: $normal-weight;
    font-size: $smaller-size;
    line-height: 17px;
    color: $secondary-text-color;
    margin-bottom: 6px;
    text-align: justify;

    &-warning {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: $normal-weight;
      font-size: $small-size;
      color: red;
      text-align: justify;
    }
  }
}
