@import '../base/variables';

.default-slider.MuiSlider-root{
  color:#932063  ;
  .MuiSlider-thumb::after{
    display: none;
    content: none;
  }
  .MuiSlider-valueLabel{
    background: #eeeeee;
    width: 56px;
    height: 36px;
    transform: none !important;
    border-radius: 2px;
    top: -50px !important;
  }
  .MuiSlider-valueLabel span, .MuiSlider-valueLabel span div {
    transform: none;
    color: #252631;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-family: Lato;
    font-weight: $bold-weight;
    background-color: unset !important;
    width: 100%;
    text-align: center;
  }
  .MuiSlider-thumb.MuiSlider-active{
    box-shadow: none;
  }
  .MuiSlider-thumb{
    background-color: #ffffff;
    height: 14px;
    width: 14px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }
  .MuiSlider-rail{
    height: 6px;
    background-color: #eeeeee;
    opacity: initial;
  }
  .MuiSlider-track{
    height: 6px;
  }
}
.default-slider.MuiSlider-root.myst-slider {
  .MuiSlider-valueLabel{
    width: 86px;
    left: -35px;
  }
}