.spinner {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  position: absolute;
}

.spinner-relative {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  position: relative;
}

.small-spin {
  size: 1em;
}
