@import '../base/variables';

.default-switch.MuiSwitch-root {
  border-radius: 12px;
  padding: 10px;

  .MuiSwitch-colorSecondary.Mui-checked {
    color: #6DD230;
  }

  .MuiSwitch-thumb {
    background-color: #ffffff;
    box-shadow: none;
    width: 16px;
    height: 16px;
    margin-top: 2px;
  }

  .MuiTouchRipple-root {
    display: none;
  }

  .MuiSwitch-track {
    opacity: 0.5;
  }

  .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #6DD230;
    opacity: 1;
  }
}

.default-switch.MuiSwitch-root.myst {
  .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #9C2064;
    opacity: 1;
  }
}
