@import '../base/variables';

.text-field-label {
  font-family: Lato;
  font-style: normal;
  font-weight: $normal-weight;
  font-size: 14px;
  line-height: 21px;
  color: $secondary-text-color;
  margin-bottom: 6px;
  margin-top: 20px;
}

.default-text-field.MuiFormControl-root {
  width: 100%;

  .MuiInputBase-input {
    padding-bottom: 17px;
    color: $main-text-color;
    font-family: Lato;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 14px;
    line-height: 17px;
  }

  .MuiInput-underline:after {
    border: 1px solid #F0F0F3;
    transform: none;
    transition: none;
  }
}
