@import '../../../../assets/styles/base/variables';

.statistic {
  padding: 22px 0 25px 28px;
  box-shadow: 0 2px 5px rgba(99,99,99, 0.05);
  background: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
  width: calc(20% - 20px);
  min-width: 180px;
  border-radius: 10px;
  margin-bottom: 25px;

  &:last-child {
    margin-right: 0;
  }

  &__value {
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    font-weight: $medium-weight;
    color: $main-text-color;
  }

  &__label {
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    font-weight: $lighter-weight;
    color: $names-text-color;
  }
}
