@import 'src/assets/styles/base/variables';
@import 'src/assets/styles/base/mixins/media';

.navigation {
  background: linear-gradient(359.97deg, #262262 0.61%, #9E1F63 100.02%);
  padding: 15px;
  display: flex;

  @include respond-above(sm) {
    height: 100%;
    position: relative;
    flex-direction: column;
  }
  @include respond-below(sm) {
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 78px;
    top: 0;
    z-index: 999;
  }

  .mobile {
    @include respond-above(sm) {
      display: none;
    }
  }

  &--logo {
    display: block;
    @include respond-above(sm) {
      margin-bottom: 50px;
    }
    @include respond-below(sm) {
      display: none;
    }
  }

  &--item {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item.active {
    background: #FFFFFF;
    border-radius: 4px;
  }

  &--issue {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #6C3AAB;

    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 100%;
    //&:last-child {
    //  flex-grow: 1;
    //}

    //@include respond-above(sm) {
      left: 0;
      right: 0;
      bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    //}

    @include respond-below(sm) {
      //position: absolute;
    }

  }

  &--chat-space {
    height: 90px;
  }
}

.intercom-messenger-frame {
  @include respond-above(sm) {
    left: 10px !important;
  }
}

.intercom-launcher-frame {
  @include respond-above(sm) {
    left: 10px !important;
  }
  @include respond-below(sm) {
    left: calc(100% - 140px) !important;
    top: 10px !important;
    border: #ffffff 1px solid;
  }
}

.intercom-lightweight-app-launcher {
  @include respond-above(sm) {
    left: 10px !important;
  }
  @include respond-below(sm) {
    left: calc(100% - 140px) !important;
    top: 10px !important;
    border: #ffffff 1px solid;
  }
}

