@import '../../../../../constatnts';

.root {
  max-width: 320px;
  margin: 0 auto;
  color: $whiteColor;
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p:first-child {
    font-size: $tableHeadFont;
    opacity: 0.7;
  }
  p:last-child {
    padding: 5px 0;
    font-size: $tableContentFont;
  }
}
.infoID {
  font-family: 'mplus-1m', sans-serif;
}
