@import '../../base/variables';
@import '../../base/mixins/media';

.page {
  display: flex;

  min-height: 100vh;
  width: 100%;
  height: 100vh;

  &__menu {
    height: 100vh;
  }

  &__content {
    background-color: #F8F8FB;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    display: flex;

    .main {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      .main-block {
        height: 100vh;
        width: 100%;
        padding: 0 25px 100px 0;
        overflow-y: auto;

        &--split {
          @include respond-below(sm) {
            width: 100%;
          }
          @include respond-above(sm) {
            width: 70%;
          }
          padding: 0 25px 100px 0;
        }
      }

      .sidebar-block {
        @include respond-below(sm) {
          display: none;
          width: 0;
        }
        @include respond-above(sm) {
          width: 30%;
          background: #FFFFFF;
        }
      }
    }
  }
}

.registration-overlay {
    position: absolute;
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    z-index: 1000;
    background: #dfdfdfd1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__content {
        display: flex;
        align-items: center;
        font-weight: $bold-weight;
        color: $third-color;
    }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__identity {
        font-weight: $medium-weight;
        color: $third-color;
    }

    &__copy {
        color: $main-text-color;
    }
}

.intercom-help-pointer {
    position: absolute;
    bottom: 30px;
    left: 80px;
    z-index: 1001;

    display: flex;

    align-items: center;

    font-weight: $bold-weight;
    color: $main-text-color;

    &__arrow {
        font-size: 2em;
    }
}
