@import '../../base/variables';

.page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100vh;

  &__menu {
    height: 100%;
  }

  &__content {
    background-color: #F8F8FB;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    display: flex;

    .main {
      display: flex;
      width: 100%;
      height: 100%;

      .main-block {
        height: 100vh;
        width: 100%;
        padding: 0 25px 100px 0;
        overflow-y: auto;

        &--split {
          width: 70%;
          padding: 0 25px 100px 0;
        }
      }

      .sidebar-block {
        width: 30%;
        background: #FFFFFF;
        padding: 20px;
      }
    }
  }
}

