@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/mixins/media';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;

  &Title {
    font-weight: $medium-weight;
    font-size: $large-size;
    line-height: 21px;
    color: $main-text-color;
    margin-bottom: 10px;
  }

  &Block {
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0 6px 16px rgba(153, 155, 168, 0.1);
    border-radius: 4px;
    transition: unset;
    padding: 30px 35px;
    outline: 0;

    @include respond-above(sm) {
      width: 35%;
    }

    @include respond-below(sm) {
      width: 90%;
    }
  }

  &Row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-below(sm) {
      button {
        font-size: $smaller-size !important;
      }
    }
  }

  .title {
    font-weight: $medium-weight;
    font-size: $large-size;
    line-height: 21px;
    color: $main-text-color;
    margin-bottom: 10px;
  }
}
