@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.layout {
  display: flex;
  align-items: center;
  gap: 25px;
  @include respond-below(sm) {
    flex-wrap: wrap !important;
  }
}
