@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 25px;

  @include respond-below(xlg) {
    flex-wrap: wrap;
  }
}
