@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.card {
  padding: 22px 28px 25px 28px;
  box-shadow: 0 2px 5px rgba(99,99,99, 0.05);
  background: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  height: 120px;
  flex-grow: 1;

  @include respond-below(sm) {
    width: 100%;
  }

  &Value {
    font-style: normal;
    font-size: $larger-size;
    line-height: 32px;
    font-weight: $medium-weight;
    color: $main-text-color;
    white-space: nowrap;
  }

   &Label {
    font-style: normal;
    font-size: $normal-size;
    line-height: 21px;
    font-weight: $lighter-weight;
    color: $names-text-color;
    white-space: nowrap;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
