.root {
  padding: 2px;
  height: 100%;
  overflow: hidden;
}
.root table {
  width: 100%;
  color: #666;
  border-collapse: collapse;
}
.root table tr {
  cursor: pointer;
}
.root table td {
  text-align: left;
  padding: 8px 16px;
  color: #404040;
  font-size: 0.875rem;
}
.root table td:first-child {
  width: 23%;
}
.root table td:nth-child(2) {
  width: 44%;
}
.root table td:last-child {
  width: 23%;
  text-align: right;
}

.scrollView {
  height: 100%;
  overflow: auto;
}
