@import '../../../../../../../constatnts';

.root {
  padding: 2px;
  height: 100%;
  overflow: hidden;
  table {
    width: 100%;
    color: $textSecondary;
    border-collapse: collapse;
    tr {
      cursor: pointer;
    }
    td {
      text-align: left;
      padding: 8px 16px;
      color: $textMain;
      font-size: $buttonText;
      &:first-child {
        width: 23%;
      }
      &:nth-child(2) {
        width: 44%;
      }
      &:last-child {
        width: 23%;
        text-align: right;
      }
    }
  }
}
.scrollView {
  height: 100%;
  overflow: auto;
}
