@import '../../../constatnts';

.appTermsCover {
  min-height: 640px;
  height: 100vh;
  padding-top: 36px;
  padding-bottom: 60px;
  position: relative;
  background: $whiteColor;
}
.appTermsListCover {
  max-width: 300px;
  margin: 0 auto;
}
.appTermsListCover h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 46px;
  font-size: $mainTitle;
  color: $actionPurple;
}
.barContent a {
  top: 16px;
  right: -200px;
  position: absolute;
}
.bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  background: #f7f7f7;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  div {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
.barContent {
  width: 680px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
.catMysterium {
  position: absolute;
  top: -150px;
  left: -143px;
  height: 200px;
  width: 128px;
  display: block;
  background: url('../../components/assets/images/Cat.png') no-repeat;
  background-size: contain;
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .catMysterium {
    background: url('../../components/assets/images/Cat@2x.png') no-repeat;
    background-size: contain;
  }
}
.termsAgreement {
  display: flex;
  align-items: center;
  justify-content: start;
  input {
    padding: 0;
    color: $textLightGrey;
  }
  svg {
    height: 16px;
    width: 16px;
    path {
      opacity: 0;
    }
  }
  label {
    color: $textMain;
    font-size: $buttonText;
    margin-right: 8px;
    margin-left: 0;
  }
}
