@import "../../assets/styles/base/variables";

.report-issue {
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;

    .title {
      &__description {
        font-size: $normal-size;
        color: #8181A5;
      }
    }

    .chat {
      flex: 1;
      margin-left: 30px;

      a {
        font-family: Lato, sans-serif;
        font-weight: 500;
        font-size: $normal-size;
      }

      &__icon {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        position: relative;
        top: 7px;
        right: 6px;
      }
    }

    .close {
    }
  }

  &__flex-grow {
    flex: 1;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    .agreement {
      color: #8181A5;
      font-size: $normal-size;
      width: 80%;
    }
  }
}
