@import "../../assets/styles/base/variables";
@import "../../assets/styles/base/mixins/media";

.report-issue {
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;

    &__flex {
      display: flex;
      @include respond-below(sm) {
        flex-direction: column;
      }
    }

    .title {
      &__description {
        font-size: $normal-size;
        color: #8181A5;
      }
    }

    .chat {
      flex: 1;

      @include respond-above(sm) {
        margin-left: 30px;
      }

      a {
        font-family: Lato, sans-serif;
        font-weight: 500;
        font-size: $normal-size;
      }

      &__icon {
        width: 20px;
        height: 20px;
        margin-top: 10px;
        position: relative;
        top: 7px;
        right: 6px;
      }
    }

    .close {
      .MuiIconButton-root {
        padding: 0;
      }
    }
  }

  &__flex-grow {
    flex: 1;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    @include respond-above(sm) {
      margin-top: 50px;
    }
    @include respond-below(sm) {
      margin-top: 10px;
      flex-direction: column;
    }

    .agreement {
      color: #8181A5;
      font-size: $normal-size;
      width: 80%;

      @include respond-below(sm) {
        font-size: $smaller-size !important;
        margin-bottom: 5px;
      }
    }
  }

  &__send_button {
    height: 40px;
  }
}
