@import '../../../../../../../constatnts';

.root {
  table {
    width: 100%;
    color: $textSecondary;
    border-collapse: collapse;
    tr {
      box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
    }
    th {
      opacity: 0.7;
      padding: 8px 16px;
      text-align: left;
      font-weight: normal;
      font-size: $tableHeadFont;
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);
      &:first-child {
        width: 23%;
      }
      &:nth-child(2) {
        width: 44%;
      }
      &:last-child {
        width: 23%;
        text-align: right;
      }
    }
    td {
      text-align: left;
      padding: 8px 16px;
      color: $textMain;
      font-size: $buttonText;
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    }
  }
}
