@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/mixins/media';

.services {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 16px 0 16px;
  padding: 16px;
  background: rgba($gray_blue, 0.1);
  border-radius: 35px;

  width: 100%;

  min-width: 1200px;
}

.report {
  margin: 25px 32px 0 32px;
  width: 100%;
}
