@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins/media';

.statistics {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.widgets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  .widget {
    @include respond-above(sm) {
      width: 100%;
    }

    @include respond-below(sm) {
      width: 100%;
    }
  }
}

.nodeStatus {
  margin-top: 25px;
}

.services {
  margin-top: 25px;
}

.servicesSettings {
  @include respond-below(sm) {
    padding-bottom: 50px
  }
}
