@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins/media';

.dashboard {
  &__statistics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__mainnet-warning {
    padding: 22px 28px 25px 28px;
    box-shadow: 0 2px 5px rgba(99, 99, 99, 0.05);
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #e83400
  }

  &__widgets {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .widget {
      width: 100%;
    }
  }

  &__node-status {
    margin-top: 25px;
  }

  &__nat-warning {
    margin-top: 25px;
  }

  &__services {
    margin-top: 25px;
  }

  &__services-settings {
    @include respond-below(sm) {
      padding-bottom: 50px
    }
  }

}
