@import '../../../../base/variables';

.side-block{
  padding: 20px 0 0 0;
  height: 100%;
  .heading{
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    padding-left: 25px;
  }
  &--content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 25px);
    .sessions-wrapper{
      padding: 20px 25px;
      .session-block{
        background: #FCFCFC;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 4px 12px;
        margin-bottom: 20px;
        .heading-row{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title{
            font-style: normal;
            font-weight: $normal-weight;
            font-size: 14px;
            line-height: 21px;
            color: $main-text-color;
            padding-left: 0;
          }
          .status{
            font-style: normal;
            font-weight: $bold-weight;
            font-size: 12px;
            line-height: 21px;
          }
          .status.success{
            color: #58A079;
          }
          .status.failed{
            color: #CB0D0D;
          }
        }
        .id{
          font-style: normal;
          font-weight: $normal-weight;
          font-size: 12px;
          line-height: 18px;
          color: #A0A0A0;
        }
        .stats-row{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 15px;
          .stat{
            font-style: normal;
            font-weight: $medium-weight;
            font-size: 14px;
            line-height: 21px;
            color: $main-text-color;
          }
        }
      }
      .button-block{
        margin-top: 50px;
        .btn.all{
          width: 60%;
        }
      }
    }
    .sum-wrapper{
      display: flex;
      border-top: 1px solid #EEEEEE;;
      .sum-block{
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        .name{
          font-weight: $medium-weight;
          font-size: 16px;
          line-height: 24px;
          color: $main-text-color;
        }
        .explanation{
          font-style: normal;
          font-weight: $normal-weight;
          font-size: 14px;
          line-height: 21px;
          color: $names-text-color;
        }
      }
      .sum-block:first-child{
        border-right: 1px solid #EEEEEE;;
      }
    }
  }
}