.root {
  max-width: 320px;
  margin: 0 auto 32px;
  color: #fff;
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infoRow p:first-child {
  font-size: 0.75rem;
  opacity: 0.7;
}
.infoRow p:last-child {
  padding: 5px 0;
  font-size: 1rem;
}

.infoID {
  font-family: 'mplus-1m', sans-serif;
}
