.root {
  padding-top: 0 !important;

  > div + div {
    margin-top: 12px;
  }
}

.title {
  text-align: center;
  padding-bottom: 24px;
  font-weight: bold;
}

.info {
  padding-top: 16px;
}

.actions {
  padding-top: 24px;
  display: flex;
  justify-content: center;

  button {
    padding: 6px 24px !important;
    min-height: 2.6em !important;
    min-width: 10em !important;
  }
}
