@import '../../../assets/styles/base/variables';

.wallet__earnings {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border-radius: 10px;
  padding: 12px 25px 12px 28px;
  text-align: left;

  .earnings {
    display: flex;
    flex-direction: column;

    &__value {
      font-style: normal;
      font-size: 28px;
      line-height: 33px;
      font-weight: $bold-weight;
      color: #000000;
    }

    &__label {
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      font-weight: $lighter-weight;
      color: $names-text-color;
    }
  }
}

.wallet-settle-button {
    width: 150px;
}

.wallet-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  .truncate {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__card {
    display: block;
    margin: 0 0 20px 0;
    padding: 15px;

    .header {
      margin-bottom: 20px;
      padding-top: 10px;
      color: $main-text-color;
      font-style: normal;
      font-weight: $medium-weight;
      font-size: 18px;
      line-height: 21px;
    }

    .content {
      display: flex;
      flex-direction: column;
      border: 1px solid #ECECF2;
      border-radius: 12px;

      padding: 10px;
      a {
        text-decoration:  none;
        color: #5E81F4;
      }
      &__header {
        margin-bottom: 4px;
        color: $main-text-color;
        font-style: normal;
        font-weight: $medium-weight;
        font-size: 18px;
        line-height: 21px;
      }

      &__subtext {
        color: $secondary-text-color;
        font-style: normal;
        font-weight: $lighter-weight;
        font-size: 14px;
        line-height: 18px;
      }

      &__footer {
        text-align: right;
        margin-top: 5px;
      }
    }
  }
}

.wallet-sidebar-footer {
  display: flex;
  border-top: 1px solid #EEEEEE;;
}