.root {
  width: 400px;
  height: 112px;
  position: relative;
  margin: 48px auto 32px;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('../../../../../app/components/assets/images/client-connecting.svg') no-repeat center;
}

.user {
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user div {
  width: 32px;
  height: 32px;
}

.node {
  width: 56px;
  height: 56px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.node div {
  width: 32px;
  height: 32px;
}
