@import '../../../constatnts';

.connection-type-icon {
  width: 24px;
  height: 24px;
  display: inline-block;

  &.connection-type-wireguard {
    background: url('../../../app/components/assets/images/app-icons.svg') no-repeat -52px -60px;

    &.active {
      background-position: -76px -60px;
    }
  }

  &.connection-type-openvpn {
    background: url('../../../app/components/assets/images/app-icons.svg') no-repeat -52px -36px;

    &.active {
      background-position: -76px -36px;
    }
  }
}

