@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins/media';

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.versionManagement {
  border: solid 1px $names-text-color;
}
