li.followMenuItem {
  padding: 4px 16px;
  height: auto;
}
li.followMenuItem:hover {
  background: transparent;
}

.followList {
  width: 100%;
  font-size: 0.75rem;
  color: #666;
}
.followList ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: inline-flex;
}
.followList ul li {
  padding: 5px;
  display: inline-block;
}
.followList ul li:first-child,
.followList ul li:last-child {
  border: none;
}
.followList ul li:hover {
  background: transparent;
}
.followList ul li a {
  display: block;
}
