@import '../../../constatnts';

.appCover {
  position: relative;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: $purpleAppBg;
}
.appBgPattern {
  opacity: 0.1;
  width: 720px;
  height: 456px;
  z-index: 1;
  position: absolute;
  background: url('../../components/assets/images/app-bg.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.appContent {
  max-width: 390px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  h1 {
    color: $whiteColor;
    font-size: $mainTitle;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.01em;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.5);
  }
  h4 {
    color: $whiteColor;
    font-size: $tableContentFont;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.5);
    margin: 16px 25px 28px;
  }
}
.logo {
  height: 156px;
  width: 240px;
  margin: 0 auto 0;
  background: url('../../components/assets/images/logo.svg') no-repeat;
  background-size: contain;
  background-position: center;
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .appBgPattern {
    background: url('../../components/assets/images/app-bg@2x.png') no-repeat;
    background-size: contain;
  }
}
