@import "../../../../assets/styles/base/colors";
@import "../../../../assets/styles/base/font";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  position: relative;
  background: $background-content;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 24px;
  height: 100%;

  .controls {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .serviceInfo {
    color: $gray_blue2;
    font-size: $font-size-small;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content {
  background: $background-lightgray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 31px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .info {
    display: flex;

    &Icon {
      margin-right: 16px;
    }

    &TextRow {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &Title {
      font-family: "Ubuntu", sans-serif;
      font-size: $font-size-small;
      color: $gray_blue;
    }

    &Value {
      font-size: $font-size-normal;
      font-style: normal;
    }
  }
}

.pendingApproval {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background: $gray_blue;
  border-radius: 12px;
  font-size: $font-size-small;
  top: -8px;
  padding: 4px;
  color: $white;
  width: 150px;
}
