@import "../../../../assets/styles/base/variables";
@import '../../../../assets/styles/base/mixins/media';

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 0;
}

.content {
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(153, 155, 168, 0.1);
  border-radius: 4px;
  transition: unset;
  @include respond-above(sm) {
    width: 40%;
  }
  @include respond-below(sm) {
    height: 100%;
    width: 100%;
  }
  padding: 30px 35px;

  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-size: $larger-size;
}

.subTitle {
  margin-top: 15px;
  font-weight: $lighter-weight;
  font-size: $normal-size;
}

.note {
  margin-top: 15px;
  font-weight: $medium-weight;
  font-size: $normal-size;
}

.options {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.topup {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &ChannelAddress {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &QR {
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }

  &Received {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.footer {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
