@import '../../../../../constatnts';

.bottomBar {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 24px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottomBarItem {
  color: $whiteColor;

  h4 {
    opacity: 0.7;
    font-size: $tableHeadFont;
  }

  p {
    font-size: $subTitle;
  }

  div {
    float: right;
  }
}

.bottomBarItemNat {
  color: $whiteColor;

  h4 {
    opacity: 0.7;
    font-size: $tableHeadFont;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.natUrlBlock{
  position: absolute;
  margin-top: -17px;
  a {
    color: #f50057
  }
}
