@import "../../assets/styles/base/variables";

.bandwidth {
  background: #FFFFFF;
}

.settings {
  margin-bottom: 10px;

  .slider {
    width: 100%;
  }
}

.line {
  display: flex;
  justify-content: space-between;

  p {
    font-style: normal;
    font-weight: $lighter-weight;
    font-size: $smaller-size;
    line-height: 14px;
    color: $names-text-color;
  }
}
