.dashboardCover {
  padding: 24px;
  padding-bottom: 64px;
  position: relative;
  height: calc(100vh - 40px);
  background: url('../../../app/components/assets/images/app-pattern.svg');
}

.dashboardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dashboardHeader h4 {
  color: #fff;
}
.dashboardHeader h4 p:first-child {
  font-size: 1.25rem;
  margin-bottom: 6px;
}
.dashboardHeader h4 p:last-child {
  font-size: 0.75rem;
  opacity: 0.7;
}
.dashboardHeader a button span {
  min-width: 200px;
  color: #d93c3c;
  font-weight: bold;
}
