@import '../../../../../constatnts';

.flexedRow {
  display: flex;
  align-items: flex-start;
  font-size: $buttonText;
  margin-bottom: 28px;

  .label {
    padding-top: 5px;
    line-height: 140%;
  }

  p {
    min-width: 128px;
    font-size: 14px;
    color: $textLightGrey;
  }

  div {
    color: $textMain;
  }

  input {
    color: $textLightGrey;
    font-size: $tableHeadFont;
    padding: 4px 12px;
    border-radius: 4px;
  }

  .helperText {
    margin-top: 8px;
    font-size: $tableHeadFont;
    color: $textLightGrey;
  }

  .errorText {
    margin-top: 8px;
    font-size: $tableHeadFont;
    color: $warningRed;
    word-break: break-word;
  }

  .successText {
    margin-top: 8px;
    font-size: $tableHeadFont;
    color: $successGreen;
    word-break: break-word;
  }
}

.radioForm {
  margin-bottom: 12px;

  p {
    margin-left: 26px;
  }

  label {
    color: $textMain;
    font-size: $buttonText;
    margin-right: 8px;
    margin-left: 0;
  }
}

.savedWallet {
  display: flex;
  align-items: flex-start;
  height: 34px;

  p {
    color: $textMain;
    font-family: 'mplus-1m', sans-serif;
  }

  button {
    display: block;
    color: $darkPurple;
    font-size: $tableHeadFont;
  }
}

.editableField {
  position: relative;
  margin-left: -12px;
  display: flex;
  align-items: flex-start;
}

.editableTextField {
  min-width: 372px !important;
}

.editableTextFieldHalf {
  min-width: 183px !important;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  left: 100%;
  position: absolute;
  display: flex;
  margin-top: -2px;

  button {
    padding: 6px !important;
  }
}
