@import '../../../../../constatnts';

.flexedRow {
  display: flex;
  align-items: flex-start;
  font-size: $buttonText;
  margin-bottom: 14px;
  p {
    min-width: 128px;
    font-size: 14px;
    color: $textLightGrey;
  }
  div {
    color: $textMain;
  }
  input {
    color: $textLightGrey;
    font-size: $tableHeadFont;
    padding: 4px 12px;
    border-radius: 4px;
  }
  //svg {
  //  height: 16px;
  //  width: 16px;
  //  path {
  //    //opacity: 0;
  //  }
  //}
  .helperText {
    margin-top: 8px;
    font-size: $tableHeadFont;
    color: $textLightGrey;
  }
  .errorText {
    margin-top: 8px;
    font-size: $tableHeadFont;
    color: $warningRed;
    word-break: break-word;
  }
}
.radioForm {
  margin-bottom: 12px;
  p {
    margin-left: 26px;
  }
  label {
    color: $textMain;
    font-size: $buttonText;
    margin-right: 8px;
    margin-left: 0;
  }
}
.savedWallet {
  display: flex;
  align-items: flex-start;
  height:34px;
  p {
    color: $textMain;
    font-family: 'mplus-1m', sans-serif;
  }
  button {
    display: block;
    color: $darkPurple;
    font-size: $tableHeadFont;
  }
}
.editableField{
  margin-top: -5px;
  margin-left: -12px;
  display: flex;
  height:39px;
  align-items: flex-start;
  button {
    margin-top: -4px;
    padding: 6px!important;
  }
}
.editableTextField{
  min-width: 372px!important;
}
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons{
  position: absolute;
  margin-left: 376px;
}
