.flexedRow {
  display: flex;
  font-size: 0.875rem;
  margin-bottom: 14px;
}
.flexedRow p {
  min-width: 128px;
  font-size: 14px;
  color: #808080;
}
.flexedRow div {
  color: #404040;
}
.flexedRow input {
  color: #808080;
  font-size: 0.75rem;
  padding: 4px 12px;
  border-radius: 4px;
}
.flexedRow svg {
  height: 16px;
  width: 16px;
}
.flexedRow svg path {
  opacity: 0;
}
.flexedRow .helperText {
  margin-top: 8px;
  font-size: 0.75rem;
  color: #808080;
}
.flexedRow .errorText {
  margin-top: 8px;
  font-size: 0.75rem;
  color: #d93c3c;
  display: none;
}

.radioForm {
  margin-bottom: 12px;
}
.radioForm p {
  margin-left: 26px;
}
.radioForm label {
  color: #404040;
  font-size: 0.875rem;
  margin-right: 8px;
  margin-left: 0;
}

.savedWallet {
  display: none;
}
.savedWallet p {
  color: #404040;
  font-family: 'mplus-1m', sans-serif;
}
.savedWallet a {
  display: block;
  margin-top: 6px;
  color: #632462;
  font-size: 0.75rem;
}
