@import '../base/variables';

.MuiTooltip-tooltip {
  background-color: #FFFFFF !important;
  border: #000000 1px solid !important;
  color: $main-text-color !important;
  font-size: 0.8rem !important;
}

