@import "../../assets/styles/base/variables";
@import "../../assets/styles/base/mixins/media";

.bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;

  background: #FFFFFF;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(99,99,99, 0.05);

  border-radius: 10px 10px 0 0;

  &Right {
    margin-right: 40px;
  }
}

.item {

  &Label {
    font-size: $normal-size;
    margin-bottom: 5px;
  }

  &Component {
    min-width: 200px;
  }
}
