@import 'src/assets/styles/base/variables';
@import 'src/assets/styles/base/colors';
@import 'src/assets/styles/base/mixins/media';

.page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
}

.content {
  background: $background-mysterium;
  height: 100%;
  width: 100%;
  display: flex;
}

.navigation {
  @include respond-above(sm) {
    height: 100vh;
  }
}
