@import 'src/assets/styles/base/variables';
@import 'src/assets/styles/base/mixins/media';

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.settings-header {
  display: flex;
  flex-direction: row;

  @include respond-above(sm) {
    justify-content: space-between;
    align-items: center;
  }

  @include respond-below(sm) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
