@import '/src/assets/styles/base/variables';
@import '/src/assets/styles/base/mixins/media';

.nat-traversal-order {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 5px;
  justify-content: space-between;

  &__list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  &__available {
    display: flex;
    flex-direction: row;
    min-height: 65px;

    border-top: 2px solid #F0F0F3;
    border-bottom: 2px solid #F0F0F3;
    align-items: center;
  }

  &__chip {
    margin-right: 10px;
  }

  &__empty {
    width: 100%;
    display: flex;
    flex-grow: 1;
    font-size: $normal-size;
    color: $names-text-color;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  &__row {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $normal-size;
    color: $main-text-color;
    border-bottom: 1px solid #F0F0F3;
    padding: 5px;
    &-label {
      flex-grow: 1;
    }

    &-drag {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;
      height: 100%;
      width: 10%;
    }
  }
}
