.bottomBar {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 24px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottomBarItem {
  color: #fff;
}
.bottomBarItem h4 {
  opacity: 0.7;
  font-size: 0.75rem;
}
.bottomBarItem p {
  font-size: 1.25rem;
}
.bottomBarItem div {
  float: right;
}
