@import '../../../../../constatnts';

.infoBar {
  width: 100%;
  margin-bottom: 20px;
  table {
    width: 100%;
    color: $whiteColor;
    border-collapse: collapse;
    th {
      width: 62%;
      opacity: 0.7;
      text-align: left;
      font-weight: normal;
      font-size: $tableHeadFont;
      &:first-child {
        width: 38%;
      }
    }
    td {
      width: 68%;
      padding: 9px 0;
      text-align: left;
      font-size: $tableContentFont;
      &:first-child {
        width: 32%;
      }
    }
  }
}
.ipItem {
  display: flex;
  p {
    margin-left: 8px;
  }
}
.infoID {
  font-family: 'mplus-1m', sans-serif;
}
