@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins/media';

.latest-sessions {
  display: flex;
  flex-direction: column;

  @include respond-above(sm) {
    height: 100%;
  }

  &__no-sessions-text {
    color: $secondary-text-color;
    align-self: center;
    padding: 10px 0 15px 0;
  }

  &__heading {
    padding: 20px 0 20px 25px;
    font-style: normal;
    font-weight: $medium-weight;
    font-size: $accent-size;
    line-height: 24px;
    color: $main-text-color;
    border-bottom: 1px solid #EEEEEE;
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 25px);
    padding: 20px 25px;

    @include respond-below(sm) {
      padding: 10px 0 0 0 !important;
    }

    .session {
      margin-bottom: 20px;

      @include respond-below(sm) {
        margin-bottom: 10px !important;
      }
    }
  }

  &__footer {
    display: flex;
    border-top: 1px solid #EEEEEE;;

    &__sum-block {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 0;

      .name {
        font-weight: $medium-weight;
        font-size: $accent-size;
        line-height: 24px;
        color: $main-text-color;
      }

      .explanation {
        font-style: normal;
        font-weight: $normal-weight;
        font-size: $normal-size;
        line-height: 21px;
        color: $names-text-color;
      }
    }

    &__sum-block:first-child {
      border-right: 1px solid #EEEEEE;;
    }
  }

  &__button-block {
    border-top: 1px solid #EEEEEE;
    padding: 12px 15px;

    @include respond-below(sm) {
      padding-bottom: 50px
    }
  }
}
