@import '../../../assets/styles/base/variables';

.latest-sessions {
  padding: 20px 0 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__heading {
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    padding-left: 25px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    justify-content: space-between;
    height: calc(100% - 25px);
    padding: 20px 25px;
  }

  &__footer {
    display: flex;
    border-top: 1px solid #EEEEEE;;

    &__sum-block {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 0;

      .name {
        font-weight: $medium-weight;
        font-size: 16px;
        line-height: 24px;
        color: $main-text-color;
      }

      .explanation {
        font-style: normal;
        font-weight: $normal-weight;
        font-size: 14px;
        line-height: 21px;
        color: $names-text-color;
      }
    }

    &__sum-block:first-child {
      border-right: 1px solid #EEEEEE;;
    }
  }

  &__button-block {
    margin-top: 12px;
    margin-bottom: 12px;

    .btn.all {
      width: 60%;
    }
  }
}
