@import "../../../assets/styles/base/variables";

.session {
  background: #FCFCFC;
  border: 1px solid #ECECF2;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 4px 12px;
  margin-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-style: normal;
      font-weight: $normal-weight;
      font-size: $normal-size;
      line-height: 21px;
      color: $main-text-color;
      padding-left: 0;
    }

    .status {
      font-style: normal;
      font-weight: $bold-weight;
      font-size: $smaller-size;
      line-height: 21px;

      &--success {
        color: #58A079;
      }

      &--failed {
        color: #CB0D0D;
      }
    }
  }

  &__id {
    font-style: normal;
    font-weight: $normal-weight;
    font-size: $smaller-size;
    line-height: 18px;
    color: #A0A0A0;
  }

  &__statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    .statistic {
      font-style: normal;
      font-weight: $medium-weight;
      font-size: $normal-size;
      line-height: 21px;
      color: $main-text-color;
    }
  }
}

.sum-wrapper {
  display: flex;
  border-top: 1px solid #EEEEEE;;

  .sum-block {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    .name {
      font-weight: $medium-weight;
      font-size: $accent-size;
      line-height: 24px;
      color: $main-text-color;
    }

    .explanation {
      font-style: normal;
      font-weight: $normal-weight;
      font-size: $normal-size;
      line-height: 21px;
      color: $names-text-color;
    }
  }

  .sum-block:first-child {
    border-right: 1px solid #EEEEEE;;
  }
}
