@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins/media';

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__block {
    @include respond-above(sm) {
      width: 30%;
    }
    @include respond-below(sm) {
      width: 100%;
      &:last-child {
        padding-bottom: 50px
      }
    }

    .heading {
      color: $main-text-color;
      font-weight: $medium-weight;
      font-style: normal;
      font-size: $large-size;
      line-height: 32px;
      margin-bottom: 20px;
    }

    .content {
      border-radius: 12px;
      background: #ffffff;
      padding: 30px 35px 40px 35px;
    }
  }
}

.footer__buttons {
  display: flex;
  justify-content: flex-end;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-header {
  display: flex;
  flex-direction: row;

  @include respond-above(sm) {
    justify-content: space-between;
    align-items: center;
  }

  @include respond-below(sm) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
