/* Flag icons sprite - will be done on next stage */

/* temporary visualisation */
.flag-icon {
  width: 24px;
  height: 24px;
  background: url('app/components/assets/images/flag-icon-temp.svg') no-repeat center;
  background-size: contain;
}
