/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/** Bold */
@font-face {
  font-family: 'SF Display';
  font-weight: 700;
  src: url('https://sf.abarba.me/SF-UI-Display-Bold.otf');
}

/** Semibold */
@font-face {
  font-family: 'SF Display';
  font-weight: 600;
  src: url('https://sf.abarba.me/SF-UI-Display-Semibold.otf');
}

/** Regular */
@font-face {
  font-family: 'SF Display';
  font-weight: 400;
  src: url('https://sf.abarba.me/SF-UI-Display-Regular.otf');
}

/** Thin */
@font-face {
  font-family: 'SF Display';
  font-weight: 300;
  src: url('https://sf.abarba.me/SF-UI-Display-Thin.otf');
}

@font-face {
  font-family: 'mplus-1m';
  font-weight: 400;
  src: url('app/components/assets/fonts/mplus-1m-regular.eot'),
    url('app/components/assets/fonts/mplus-1m-regular.ttf'),
    url('app/components/assets/fonts/mplus-1m-regular.woff'),
    url('app/components/assets/fonts/mplus-1m-regular.woff2');
}

@import 'constatnts';
@import 'flag-icons.scss';
@import 'icons.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
* {
  margin: 0;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #333;
  height: 100vh;
  background-image: linear-gradient(to bottom, #9b2463, #312461);
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'SF Display', sans-serif;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:focus {
  border: none;
  outline: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

input {
  width: 100%;
  border: 0;
  display: block;
  font-weight: normal;
  letter-spacing: 0.05em;
}

input:focus {
  outline: none;
}

/* Change text in autofill textbox */
input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
  border: none;
  outline: none;
}
