@import '../../base/variables';

.block.welcome{
  width: 60%;
}
.content.welcome{
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.start{
  width: 178px;
}