@import '../../../base/variables';

.step-block.node-settings{
  width: 50%;
  .step-block-content{
    margin-top: 118px;
    text-align: left;
    .claim-node-block{
      margin-top: 68px;
      margin-bottom: 11px;
    }
    .api-token-block{
      margin-bottom: 50px;
      a{
        text-decoration: none;
        color: #9E1F63;
      }
    }
  }
  .btn.next{
    width: 178px;
  }
}

