@import '../../../base/variables';

.step-block.payout-settings{
  width: 60%;
  .step-block-content{
    margin-top: 66px;
    text-align: left;
    .wallet-repeat-input-block{
      margin-top: 80px;
    }
    .buttons-block{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
    }
  }
  .btn.done{
    width: 147px;
  }
  .btn.skip{
    width: 139px;
    margin-right: 15px;
  }
}

