@import '../../../base/variables';

.step-block.service-settings {
  width: 40%;

  .step-block-content {
    margin-top: 60px;
    text-align: left;

    .slider-block {
      p {
        font-weight: $bold-weight;
        color: $inputs-labels-text-color;
        font-size: 12px;
        line-height: 14px;
        font-family: Lato;
      }
    }

    .slider-block.per-gb {
      margin-top: 60px;
    }
  }

  .btn.next {
    width: 178px;
  }
}

