@import '../../../constatnts';

.settingsCover {
  height: calc(100vh - 40px);
  padding-bottom: 73px;
  position: relative;
  background: $whiteColor;

  h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 46px;
    font-size: $mainTitle;
    color: $actionPurple;
  }
}

.scrollView {
  height: 100%;
  overflow-y: auto;
  padding-top: 36px;
}

.appContent {
  width: 100%;
  margin: 0 auto;
  max-width: 448px;
}

.flexedRow {
  display: flex;
  font-size: $buttonText;
  margin-bottom: 14px;

  p {
    min-width: 128px;
    font-size: $buttonText;
    color: $textLightGrey;
  }

  div {
    color: $textMain;
    font-family: 'mplus-1m', sans-serif;
    flex: 1;
  }

  .errorText {
    color: $warningRed;
    display: flex;
    align-items: center;

    span {
      word-break: break-word;
      margin-left: 1em;
    }
  }

  .successText {
    @extend .errorText;
    color: $successGreen;
  }
}

.bottomBar {
  bottom: 0;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  background: #f7f7f7;
  position: absolute;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
}

