@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.content {
  margin-top: 20px;
  margin-bottom: 20px;

  .disclaimer {
    font-style: normal;
    font-weight: normal;
    font-size: $smaller-size;
    color: #9090BB;
    line-height: 18px;
    text-align: center;
    margin-bottom: 15px;
  }

  .attention {
    font-size: $smaller-size;
  }

  .fees {
    background: rgba(#ED5BAC, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;

    @include respond-below(sm) {
      padding: 5px;
    }
  }
}

.card {
  .info {
    font-size: $smaller-size;
    font-weight: $lighter-weight;

    @include respond-below(sm) {
      font-size: $small-size;
    }
  }

  .value {
    font-size: $larger-size;

    @include respond-below(sm) {
      font-size: $smaller-size;
    }
  }

  &Highlighted {
    color: #D61F85;
  }
}

.tx {
  font-size: $smaller-size;
  font-weight: $normal-weight;
  color: $secondary-text-color !important;
  margin-bottom: 15px;
  text-align: center;
}

.spinner {
  margin: 36px;
}
