@import '../../../constatnts';

.appHeader {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  box-shadow: inset 0 -0.3px 0 0 #b1b1b1;
  background-image: linear-gradient(to bottom, #d6d6d6, #cccccc 97%, #bababa);

  & > button {
    padding: 6px,
  }

  height: 43px
}

$tab-border-radius: 4px;

.tabContainer {
  border-radius: 5px;
  background: #f8f8f8;
  display: flex;
  box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.15);

  & > a:first-child div {
    border-top-left-radius: $tab-border-radius;
    border-bottom-left-radius: $tab-border-radius;
    border-right: none;
  }

  & > a:last-child div {
    border-top-right-radius: $tab-border-radius;
    border-top-left-radius: $tab-border-radius;
    border-left: none;
  }
}

.tab {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 1.7rem;
  border-radius: $tab-border-radius;
  color: $textMain;
  font-size: .9em;
  box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.15);
  border: solid 0.3px rgba(0, 0, 0, 0.1);
  background-image: $greyMain;
}

.active {
  color: $whiteColor;
  box-shadow: inset 0 0.5px 1px 0 #632462;
  border: solid 0.3px rgba(0, 0, 0, 0.1);
  background-image: $purpleMain;
}
