@import '../../../base/variables';

.navigation {
  background: linear-gradient(359.97deg, #262262 0.61%, #9E1F63 100.02%);
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &--logo {
    margin-bottom: 50px;
    display: block;
  }

  &--item {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item.active {
    background: #FFFFFF;
    border-radius: 4px;
  }

  &--chat {
    //position: absolute;
    width: 48px;
    height: 48px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: #6C3AAB;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--flex-gow {
    flex-grow: 1;
  }
}

