@import '../../../base/variables';
@import '../../../base/mixins/media';

.navigation {
  background: linear-gradient(359.97deg, #262262 0.61%, #9E1F63 100.02%);
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &--logo {
    margin-bottom: 50px;
    display: block;
  }

  &--item {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item.active {
    background: #FFFFFF;
    border-radius: 4px;
  }

  &--issue {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #6C3AAB;

    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 100%;
    //&:last-child {
    //  flex-grow: 1;
    //}

    //@include respond-above(sm) {
      left: 0;
      right: 0;
      bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    //}

    @include respond-below(sm) {
      //position: absolute;
    }

  }

  &--chat-space {
    height: 90px;
  }
}

.intercom-launcher-frame {
  left: 10px !important;
}

.intercom-lightweight-app-launcher {
  left: 10px !important;
}

