@import '../../../../assets/styles/base/variables';

.buttons {
  display: flex;
  justify-content: flex-end;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.qr {
  width: 120px;
  height: 120px;
  padding: 10px;
}
