@import '../../../assets/styles/base/variables';

.step-block.backup {
  width: 40%;

  .step-block-content {
    margin: 83px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

