@import "../../../assets/styles/base/variables";

.chain-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__group {
        display: flex;
        align-items: center;
    }

    &__label {
        font-weight: $bold-weight;
        color: $inputs-labels-text-color;
        font-size: $smaller-size;
        line-height: 14px;
        font-family: Lato;
        text-align: left;
    }

    &__options {
        display: flex;
        flex-direction: row;
    }
}
