@import '../../../assets/styles/base/variables';

.terms-and-conditions {
  max-height: 57vh;
  overflow: auto;

  p, li {
    font-weight: $normal-weight;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: $main-text-color;
  }
  li {
    padding-left: 15px;
  }
}
