@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins/media';

.onboarding {
  .terms-and-conditions {
    max-height: 57vh;
    overflow: auto;

    @include respond-below(sm) {
      padding: 0 20px 0 20px;
    }

    p, li {
      font-weight: $normal-weight;
      font-size: $smaller-size;
      line-height: 25px;
      text-align: left;
      color: $main-text-color;
    }

    li {
      padding-left: 15px;
    }
  }
}
