@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.content {
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  background: rgba(#ED5BAC, 0.05);
  display: flex;
  gap: 15px;
  @include respond-below(sm) {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &Highlighted {
    color: #D61F85 !important;
  }

  &Title {
    font-size: $smaller-size;
  }

  &Value {
    font-size: $normal-size;
  }
}
