@import '../../../../assets/styles/base/variables';

// graph block
.chart {
  width: 70%;
  background: #FFFFFF;
  border: 1px solid #ECECF2;
  border-radius: 12px;
  padding-top: 14px;

  &__header {
    display: flex;
    justify-content: space-between;

    &-title {
      font-family: Lato;
      font-style: normal;
      font-weight: $normal-weight;
      font-size: 18px;
      padding-left: 20px;
      padding-top: 8px;
    }

    &-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 15px;
      padding-bottom: 10px;

      .control-btn {
        margin-left: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: $normal-weight;
        font-size: 14px;
        line-height: 17px;
        color: $names-text-color;
        padding: 10px 8px;
        color: #9A9A9A;
        cursor: pointer;
        border: 1px solid transparent;
      }

      .control-btn.active {
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 8px;
        color: $main-text-color;
      }
    }
  }

  .more-btn {
    margin-left: 30px;
    background: #FFFFFF;
    border: 1px solid #ECECF2;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .graph-block {
    .recharts-cartesian-axis-line {
      display: none;
    }

    .recharts-cartesian-grid-horizontal {
      display: none;
    }

    .recharts-curve.recharts-line-curve {
      stroke-width: 2px;
      stroke: #9E1F63;
    }

    .recharts-layer.recharts-line-dots {
      display: none;
    }

    .recharts-cartesian-axis-tick-line {
      display: none;
    }

    .recharts-text.recharts-cartesian-axis-tick-value {
      font-family: Ubuntu, sans-serif;
      font-style: normal !important;
      font-size: 12px;
      line-height: 21px;
      fill: $names-text-color;
    }

    .recharts-default-tooltip {
      background: #FFFFFF;
      box-shadow: 0px 8px 15px rgba(152, 169, 188, 0.267182);
      border-radius: 2px;
      border: none !important;
    }

    .recharts-tooltip-label {
      font-family: "Ubuntu", sans-serif;
      font-style: normal;
      font-weight: $normal-weight;
      font-size: 14px;
      line-height: 21px;
      color: $names-text-color;
    }

    .recharts-tooltip-item-list li {
      font-family: "Ubuntu", sans-serif !important;
      font-style: normal;
      font-weight: $bold-weight !important;
      font-size: 14px !important;
      line-height: 21px !important;
      color: $main-text-color !important;
    }
  }
}
