@import 'src/assets/styles/base/variables';
@import 'src/assets/styles/base/mixins/media';

.page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: 100vh;

  &__menu {
    @include respond-above(sm) {
      height: 100vh;
    }
  }

  &__content {
    background-color: #F8F8FB;
    height: 100%;
    width: 100%;
    padding-left: 25px;
    display: flex;

    @include respond-below(sm) {
      margin-top: 78px;
      background-size: cover;
    }

    .main {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      .main-block {
        height: 100vh;
        width: 100%;
        padding: 0 25px 100px 0;

        @include respond-above(sm) {
          overflow-y: auto;
        }

        &--split {
          @include respond-below(sm) {
            width: 100%;
          }
          @include respond-above(sm) {
            width: 70%;
          }
          padding: 0 25px 100px 0;
        }
      }

      .sidebar-block {
        @include respond-below(sm) {
          display: none;
          width: 0;
        }
        @include respond-above(sm) {
          width: 30%;
          background: #FFFFFF;
        }
      }
    }
  }
}

.registration-overlay {
  position: fixed;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;

  z-index: 1000;
  background: #dfdfdfd1;
}
