@import "../../assets/styles/base/variables";

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .logo {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }

  .name {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 20px;
    margin-left: 25px;
    font-weight: $medium-weight;
    color: $main-text-color;
  }
}
