@import '../../base/variables';

.login.wrapper {
  display: flex;
  min-height: 100vh;

  .login-content {
    width: 55%;
    margin-right: -5%;
    background: #ffffff;
    position: relative;
    border-radius: 0 16px 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-content-block {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &--heading {
        color: $main-text-color;
        font-weight: $lighter-weight;
        font-size: 32px;
        line-height: 42px;
      }

      &--heading-paragraph {
        color: $secondary-text-color;
        font-weight: $lighter-weight;
        margin-top: 3px;
        font-size: 14px;
        line-height: 21px;
      }

      &--password-block {
        margin-top: 80px;
        text-align: left;
      }

      .password-actions-block {
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: none;
          font-weight: $medium-weight;
          font-size: 14px;
          line-height: 16px;
          color: $third-color;
        }
      }

      .btn.login {
        width: 107px;
      }
    }
  }

  .side {
    background: linear-gradient(214.77deg, #262262 0%, $third-color 100.08%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

