@import "../../assets/styles/base/variables";

.group {

}

.label {
  display: flex;
  justify-content: space-between;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: $normal-weight;
  font-size: $normal-size;
  line-height: 32px;
  color: $secondary-text-color;
  margin-bottom: 6px;
  text-align: left;
}

.help {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: $normal-weight;
  font-size: $smaller-size;
  line-height: 17px;
  color: $secondary-text-color;
  margin-bottom: 6px;
  text-align: justify;
}
