.root {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding: 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
  box-shadow: inset 0 -0.3px 0 0 #b1b1b1;
}
.root a button {
  min-width: 48px !important;
  min-height: 24px !important;
  padding: 0;
  color: #404040;
  font-size: 0.75rem !important;
  box-shadow: 0 0.3px 0.3px 0 rgba(0, 0, 0, 0.15);
  border: solid 0.3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
}

.message {
  display: flex;
  align-items: center;
}
.message p {
  font-weight: bold;
  color: #000;
  font-size: 0.875rem;
}

.warningIcon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  background: url('../../../../../app/components/assets/images/app-icons.svg') no-repeat center;
  background-size: 205px 275px;
  background-position: -158px -9px;
}
