@import '../../../../../assets/styles/base/variables';
@import '../../../../../assets/styles/base/mixins/media';

.header {
  font-size: $normal-size;
  margin-bottom: 10px;
  margin-top: 10px;
}

.beneficiary {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
