@import '../../../../../constatnts';

.dashboardHelp {
  padding: 24px 0;
}

.title {
  color: $textLightGrey;
  text-align: center;
}

.email {
  margin-top: 12px;
  color: $whiteColor;
  //font-family: 'mplus-1m', sans-serif;
  display: block;
  text-align: center;
  font-size: 1.1em;
}

.followList {
  margin: 12px 0 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: inline-flex;

  li {
    padding: 5px;
    display: inline-block;

    &:first-child,
    &:last-child {
      border: none;
    }

    &:hover {
      background: transparent;
    }

    a {
      display: block;
    }
  }
}
