@mixin button-background($bg, $hover, $active) {
  background: $bg;
  &:hover {
    background: $hover;
  }
  &:active {
    background: $active;
  }
  &[disabled] {
    opacity: 0.7;
    &:hover {
      background: $bg;
    }
    &:active {
      background: $bg;
    }
  }
}
