@mixin box-border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  box-shadow:
          // left - start color
          -1px   0    0 $weight rgba($from, .75),
            // top left - mix of two colors plus start
          -1px  -1px  0 $weight rgba($mix-sub-from, .25),
            // bottom left - mix of two colors plus start
          -1px   1px  0 $weight rgba($mix-sub-from, .25),
            // top mid - mix of two colors
          0    -1px  0 $weight rgba($mix-main, .5),
            // bottom mid - mix of two colors
          0     1px  0 $weight rgba($mix-main, .5),
            // top right - mix of two colors plus end
          1px  -1px  0 $weight rgba($mix-sub-to, .25),
            // bottom right - mix of two colors plus end
          1px   1px  0 $weight rgba($mix-sub-to, .25),
            // right - end color
          1px   0    0 $weight rgba($to, .75);
}
