@import '../../../base/variables';

.dashboard {
  display: flex;
  height: 100%;

  &--content {
    width: 70%;
    padding: 0 25px 100px 0;
  }

  //top stats block
  &--top-stats-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  &--top-stat {
    padding: 22px 0 25px 28px;
    background: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    width: calc(20% - 20px);
    min-width: 180px;
    border-radius: 10px;
    margin-bottom: 25px;

    .stat {
      font-style: normal;
      font-size: 20px;
      line-height: 32px;
      font-weight: $medium-weight;
      color: $main-text-color;
    }

    .name {
      font-style: normal;
      font-size: 14px;
      line-height: 21px;
      font-weight: $lighter-weight;
      color: $names-text-color;
    }
  }

  &--top-stat:last-child {
    margin-right: 0px;
  }

  //earnings block
  &--earnings-row {
    display: flex;
  }

  &--earnings-info {
    width: 40%;
    background-color: #ffffff;
    border-radius: 12px;
    position: relative;
    padding: 25px 0 50px 0;

    .heading {
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-weight: $medium-weight;
      color: $main-text-color;
      padding-bottom: 20px;
      margin-left: 25px;
    }

    .info-row {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      border-bottom: 1px solid #E2E2E2;
      margin-top: 20px;
      padding: 0 25px 25px 25px;

      .statement {
        color: $main-text-color;
        font-weight: $medium-weight;
        font-style: normal;
        font-size: 18px;
        line-height: 27px;

        p {
          margin-left: 25px;
        }

        span {
          display: block;
          font-style: normal;
          font-weight: $bold-weight;
          font-size: 12px;
          line-height: 21px;
          color: #58A079;
        }
      }

      .statement-info {
        color: $names-text-color;
        font-weight: $medium-weight;
        font-style: normal;
        font-size: 18px;
        line-height: 32px;

        p {
          margin-right: 25px;
        }
      }
    }

    .more-button {
      background: #FFFFFF;
      border: 1px solid #ECECF2;
      box-sizing: border-box;
      border-radius: 8px;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 20px;
      top: 20px;

      &--dot {
        border: 1px solid #ECECF2;
        border-radius: 50%;
        width: 2px;
        height: 2px;
        margin-right: 5px;
      }

      &--dot:last-child {
        margin-right: 0;
      }
    }
  }

  // graph block
  &--earnings-graph {
    width: calc(60% - 25px);
    margin-left: 25px;
    background: #FFFFFF;
    border: 1px solid #ECECF2;
    border-radius: 12px;
    padding-top: 14px;

    .control-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 15px;
      padding-bottom: 10px;

      .control-btn {
        margin-left: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: $normal-weight;
        font-size: 14px;
        line-height: 17px;
        color: $names-text-color;
        padding: 10px 8px;
        color: #9A9A9A;
        cursor: pointer;
      }

      .control-btn.active {
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 8px;
        color: $main-text-color;
      }
    }

    .more-btn {
      margin-left: 30px;
      background: #FFFFFF;
      border: 1px solid #ECECF2;
      border-radius: 12px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .graph-block {
      .recharts-cartesian-axis-line {
        display: none;
      }

      .recharts-cartesian-grid-horizontal {
        display: none;
      }

      .recharts-curve.recharts-line-curve {
        stroke-width: 4px;
        stroke: #9E1F63;
      }

      .recharts-layer.recharts-line-dots {
        display: none;
      }

      .recharts-cartesian-axis-tick-line {
        display: none;
      }

      .recharts-text.recharts-cartesian-axis-tick-value {
        font-family: Lato;
        font-style: normal;
        font-weight: $bold-weight;
        font-size: 14px;
        line-height: 21px;
        fill: $names-text-color;
      }

      .recharts-default-tooltip {
        background: #FFFFFF;
        box-shadow: 0px 8px 15px rgba(152, 169, 188, 0.267182);
        border-radius: 2px;
        border: none !important;
      }

      .recharts-tooltip-label {
        font-family: Lato;
        font-style: normal;
        font-weight: $normal-weight;
        font-size: 14px;
        line-height: 21px;
        color: $names-text-color;
      }

      .recharts-tooltip-item-list li {
        font-family: Lato !important;
        font-style: normal;
        font-weight: $bold-weight !important;
        font-size: 14px !important;
        line-height: 21px !important;
        color: $main-text-color !important;
      }
    }
  }

  // services row
  &--services-row {
    margin-top: 50px;

    .heading-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .heading {
        font-style: normal;
        font-weight: $medium-weight;
        font-size: 18px;
        line-height: 32px;
        color: $main-text-color;
        margin-right: 20px;
      }

      .heading.info {
        color: #000000;
        margin-right: 10px;
      }

      .status-circle {
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        box-sizing: border-box;
        margin-right: 6px;
        border-radius: 50%;
      }

      .status-circle.failed {
        border: 5px solid #CB0D0D;
      }

      .status-circle.success {
        border: 5px solid #6DD230;
      }

      .status {
        font-style: normal;
        font-weight: $medium-weight;
        font-size: 14px;
        margin-right: 10px;
      }

      .status.failed {
        color: #CB0D0D;
      }

      .status.success {
        color: #6DD230;
      }

      .link {
        font-weight: $medium-weight;
        font-size: 14px;
        text-align: right;
        text-decoration-line: underline;
        color: #5E81F4;
      }
    }

    .services-blocks-row {
      display: flex;
      justify-content: space-between;

      &--block {
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 12px;
        padding-top: 25px;
        width: calc(50% - 11px);

        .header-row {
          display: flex;
          align-items: center;
          margin-bottom: 14px;
          padding: 0 20px;

          .logo-block {
            width: 64px;
            height: 64px;
            position: relative;
            background: red;
            margin-right: 20px;
            border-radius: 8px;

            img {
              max-width: 100%;
            }

            .status-dot {
              position: absolute;
              bottom: 0;
              right: 0;
              border: 3px solid #FFFFFF;
              width: 12px;
              height: 12px;
              border-radius: 50%;
            }

            .status-dot.on {
              background: #6DD230;
            }

            .status-dot.off {
              background: #CB0D0D;
            }
          }

          .name-block {
            .name {
              font-style: normal;
              font-weight: $medium-weight;
              font-size: 16px;
              line-height: 24px;
              color: $main-text-color;
            }

            .type {
              font-style: normal;
              font-weight: $normal-weight;
              font-size: 14px;
              line-height: 21px;
              color: $names-text-color
            }
          }
        }

        .stats-row {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          border-bottom: 1px solid #EEEEEE;

          .service-stat {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .default-switch.MuiSwitch-root {
              margin-right: -10px;
            }

            .title {
              font-weight: $medium-weight;
              font-size: 14px;
              line-height: 32px;
              color: $names-text-color;
            }

            .text {
              font-weight: $medium-weight;
              font-size: 14px;
              line-height: 32px;
              color: $main-text-color;
            }
          }

          .service-stat.text {
            text-align: left;
          }

          .service-stat.switch {
            text-align: right;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
          }

          .service-stat:first-child {
            margin-left: 20px;
          }

          .service-stat:last-child {
            margin-right: 20px;
          }
        }

        .control-row {
          padding: 10px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .button {
            width: 126px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F5F5FA;
            border-radius: 8px;
            font-style: normal;
            font-weight: $medium-weight;
            font-size: 14px;
            line-height: 21px;
            color: rgba(101, 101, 101, 0.5);
            cursor: pointer;
            padding: 10px 0;
          }
        }
      }
    }
  }

  //side block
  &--side {
    width: 30%;
    background: #FFFFFF;
  }
}

//modal
.settings-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;

  &--block {
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(153, 155, 168, 0.1);
    border-radius: 4px;
    transition: unset;
    width: 60%;
    padding: 30px 35px;

    .title {
      font-weight: $medium-weight;
      font-size: 18px;
      line-height: 21px;
      color: $main-text-color;
      margin-bottom: 60px;
    }

    .settings-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      &--slider {
        width: 45%;

        p {
          font-weight: $bold-weight;
          color: $inputs-labels-text-color;
          font-size: 12px;
          line-height: 14px;
          font-family: Lato;
        }

        .bottom-line {
          display: flex;
          justify-content: space-between;

          p {
            font-style: normal;
            font-weight: $lighter-weight;
            font-size: 12px;
            line-height: 14px;
            color: $names-text-color;
          }
        }
      }
    }

    .partners-block {
      .switch-row {
        display: flex;
        align-items: center;

        .text {
          margin-left: 25px;
          font-style: normal;
          font-weight: $bold-weight;
          font-size: 14px;
          line-height: 17px;
          color: $main-text-color;
        }
      }

      .under-text {
        font-style: normal;
        font-weight: $lighter-weight;
        font-size: 14px;
        line-height: 21px;
        color: $names-text-color;
        width: 80%;
      }
    }

    .limits-block {
      display: flex;
      align-items: center;
      margin: 40px 0;

      .text {
        font-style: normal;
        font-weight: $bold-weight;
        font-size: 14px;
        line-height: 17px;
        color: $main-text-color;
        margin-left: 25px;
      }
    }

    .buttons-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        width: 136px;
      }

      .btn.close {
        background: #F6F6F6;
      }
    }

  }
}