@import '../../../base/variables';

.settings {
  height: 100%;
  width: 100%;
  padding-right: 70px;

  &--blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--block {
    min-width: 30%;

    .heading {
      color: $main-text-color;
      font-weight: $medium-weight;
      font-style: normal;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 20px;
    }

    .content {
      background: #ffffff;
      padding: 30px 35px 40px 35px;
      border-radius: 12px;
    }
  }

  &--block.identity {
    .content {
      &--title {
        font-style: normal;
        font-weight: $lighter-weight;
        font-size: 14px;
        line-height: 21px;
        color: $secondary-text-color;
      }

      &--id {
        font-style: normal;
        font-weight: $medium-weight;
        font-size: 14px;
        line-height: 16px;
        color: $main-text-color;
        padding-bottom: 20px;
        border-bottom: 1px solid #F0F0F3;
        width: 100%;
      }
    }
  }

  &--block.security {
    .content {
      .text-field-label {
        font-weight: $lighter-weight;
        font-family: Ubuntu;
      }

      .default-text-field.MuiFormControl-root .MuiInput-underline:after {
        border: none;
        border-bottom: 1px solid #F0F0F3;
      }
    }
  }

  &--block.integration {
    .content {
      &--title {
        font-style: normal;
        font-weight: $lighter-weight;
        font-size: 14px;
        line-height: 21px;
        color: $secondary-text-color;

        a {
          text-decoration: none;
          color: #9E1F63;
        }
      }

      &--id {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #F0F0F3;
        padding-bottom: 20px;

        p {
          font-style: normal;
          font-weight: $medium-weight;
          font-size: 14px;
          line-height: 16px;
          color: $main-text-color;
        }
      }
    }
  }
}
