@import '../../../../../constatnts';

.appConnectionTitle {
  font-size: $buttonText;
  color: $textLightGrey;
}
.connectionFlexedRow {
  display: flex;
  margin-bottom: 16px;
  .connectionDetails {
    color: $textGrey;
    font-size: $buttonText;
    padding-left: 16px;
    button {
      color: $actionPurple;
      font-size: $tableHeadFont;
      display: block;
    }
  }
}
.textBold {
  font-weight: bold;
  margin-right: 8px;
}
