@import '../../../../../constatnts';

.appConnectionTitle {
  font-size: $buttonText;
  color: $textLightGrey;
}

.expansionPanelDetails {
  padding-top: 16px !important;
}

.connectionFlexedRow {
  display: flex;
  margin-bottom: 16px;

  .connectionDetails {
    color: $textGrey;
    font-size: $buttonText;
    padding-left: 16px;

    button {
      color: $actionPurple;
      font-size: $tableHeadFont;
      display: block;
    }
  }

  .flag {
    width: 24px;
    height: 24px;
  }
}

.textBold {
  font-weight: bold;
  margin-right: 8px;
}
