@import '../../../../../constatnts';

.usersList {
  width: 100%;
  overflow: hidden;
  height: calc(100% - 150px);
  table {
    width: 100%;
    color: $whiteColor;
    border-collapse: collapse;
    th {
      width: 15%;
      opacity: 0.7;
      text-align: left;
      font-weight: normal;
      font-size: $tableHeadFont;
    }
    td {
      padding: 9px 6px;
      text-align: left;
      font-size: $tableContentFont;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      &:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 0;
      }
      &:nth-child(2) {
        padding-right: 0;
      }
    }
  }
}
.scrollView {
  height: 95%;
  overflow-y: auto;
}
