@import '../../../../assets/styles/base/colors';
@import '../../../../assets/styles/base/font';
@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/mixins/media';

.chart {
  background: $color-white;

  &Header {
    &Title {
      font-size: $font-size-big;
      font-weight: 700;
      font-family: Poppins;
    }
  }

  &Graph {

  }
}
