@import '../../../../assets/styles/base/colors';
@import '../../../../assets/styles/base/font';
@import '../../../../assets/styles/base/mixins/media';

.graphOverride {
  .recharts-curve.recharts-area-area {
    fill: none;
    background: linear-gradient(180deg, #562160 0%, #7B2061 48.96%, #64205D 100%);
  }
  .recharts-cartesian-axis-line {
    display: none;
  }

  .recharts-cartesian-grid-vertical {
    display: none;
  }

  .recharts-layer.recharts-line-dots {
    display: none;
  }

  .recharts-cartesian-axis-tick-line {
    display: none;
  }

  .recharts-area {
    fill: none;
  }

  .recharts-text.recharts-cartesian-axis-tick-value {
    font-family: Ubuntu, sans-serif;
    font-style: normal !important;
    font-size: $font-size-small;
    line-height: 21px;
    //fill: $names-text-color;
  }

  .recharts-default-tooltip {
    background: #FFFFFF;
    box-shadow: 0 8px 15px rgba(152, 169, 188, 0.267182);
    border-radius: 2px;
    border: none !important;
  }

  .recharts-tooltip-label {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    //font-weight: $normal-weight;
    font-size: $font-size-normal;
    line-height: 21px;
    //color: $names-text-color;
  }

  .recharts-tooltip-item-list li {
    font-family: "Ubuntu", sans-serif !important;
    font-style: normal;
    //font-weight: $bold-weight !important;
    font-size: 14px !important;
    line-height: 21px !important;
    //color: $main-text-color !important;
  }
}
