@import '../../../../../constatnts';

.sideBarRoot {
  padding: 5px 0 70px;
  height: 100%;
  flex: 0 0.3 30%;
  min-width: 240px;
  background: #fafafa;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}
