@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/mixins/media';

.MuiPaginationItem-root.MuiPaginationItem-ellipsis {
  display: none;
}

.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-outlined.MuiPaginationItem-rounded {
  border: none;
  background: #F5F5FA;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  color: $inputs-labels-text-color;
}

.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-outlined.MuiPaginationItem-rounded.Mui-selected {
  background: linear-gradient(0deg, rgba(38, 34, 98, 0.4), rgba(38, 34, 98, 0.4)), #FFFFFF;
  color: #FFFFFF;
  position: relative;
}
