@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/mixins/media';

.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &Mobile {
    @include respond-above(sm) {
      display: none;
    }
    @include respond-below(sm) {
      padding: 5px;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border-radius: 5px 5px 0 0;
    }

    p {
      align-self: center;
      font-size: $smaller-size;
      padding: 5px 0 5px 0;
      color: $secondary-text-color;
    }
  }

  &MobileRow {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: $small-size;
    width: 100%;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &Desktop {
    @include respond-below(sm) {
      display: none;
    }
  }

  &Header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px 20px 40px;

    &Cell {
      font-style: normal;
      font-weight: $medium-weight;
      font-size: $smaller-size;
      line-height: 18px;
      color: #AAAAAA;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &Body {
    height: 86%;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    .empty {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .noData {
        font-style: normal;
        font-weight: $normal-weight;
        font-size: $large-size;
        line-height: 21px;
        color: $names-text-color;
      }
    }

    &Row {
      background: #FFFFFF;
      border: 1px solid #ECECF2;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;

      &Cell {
        padding-right: 0.2em;
        font-style: normal;
        font-weight: $medium-weight;
        font-size: $accent-size;
        line-height: 24px;
        color: $main-text-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EEEEEE;
  align-items: center;
  background: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;

  &Button {
    background: rgba(129, 129, 165, 0.1) !important;
    border-radius: 6px;
    cursor: pointer;

    p {
      font-family: Lato;
      font-style: normal;
      font-weight: $bold-weight;
      font-size: $smaller-size;
      line-height: 14px;
      text-transform: uppercase;
      color: $inputs-labels-text-color;
    }
  }
}
