@import '../../../../assets/styles/base/variables';
@import '../../../../assets/styles/base/colors';
@import '../../../../assets/styles/base/mixins/media';

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $background-lightgray;
  border-top-left-radius: 20px;

  .header {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 30px;
    @include respond-above(sm) {
      justify-content: space-between;
      align-items: center;
    }

    @include respond-below(sm) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  .content {
    height: 100vh;
    width: 100%;
    @include respond-above(sm) {
      overflow-y: auto;
    }
  }
}
