{
    "extends": [
        "react-app",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "header"
    ],
    "rules": {
        "react/prop-types": "off",
        "react-hooks/exhaustive-deps": "off",
        "header/header": [2, "block", [
            "*",
            {"pattern": " * Copyright \\(c\\) \\d{4} BlockDev AG", "template": " * Copyright (c) 2023 BlockDev AG"},
            " *",
            " * This source code is licensed under the MIT license found in the",
            " * LICENSE file in the root directory of this source tree.",
            " "
        ]]
    }
}
