{
    "extends": [
        "react-app",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "react/prop-types": "off",
        "react-hooks/exhaustive-deps": "off",
    }
}
