$blackColor: #000;
$whiteColor: #fff;
$darkPurple: #632462;
$actionPurple: #843a72;
$lightPurple: #914e80;
$textDarkGrey: #333;
$textMain: #404040;
$textGrey: #4e4e4e;
$textSecondary: #666;
$textLightGrey: #808080;
$warningRed: #d93c3c;
$successGreen: #4cac29;
$borderColor: #c4c4c4;
$purpleAppBg: linear-gradient(to bottom, #9b2463, #312461);
$purpleMain: linear-gradient(to bottom, #7c2463, #552462);
$greyMain: linear-gradient(to bottom, #fefefe, #f2f2f2);

//fonts

$mainTitle: 1.5rem; // 24px
$subTitle: 1.25rem; // 20px
$tableContentFont: 1rem; // 16px
$tableHeadFont: 0.75rem; //12px
$buttonText: 0.875rem; //14px
