/* Custom icons for checkbox and radiobutton */
.customIcon {
  height: 16px;
  width: 16px;
  background: url('app/components/assets/images/control-icons.svg') no-repeat;
  background-size: 85px 32px;
}
.icon-radio-checked {
  background-position: 0 0;
}
.icon-checkbox-checked {
  background-position: 0 -16px;
}

/* App icons */
.app-icons {
  width: 24px;
  height: 24px;
  min-width: 24px;
  background: url('app/components/assets/images/app-icons.svg') no-repeat;
  background-size: 184px 232px;
}
.residentialIPIcon {
  background-position: -112px -40px;
}
.dataCenterIPIcon {
  background-position: -112px -80px;
}
.appMenuIcon {
  background-position: 0 0;
}
.appMenuIcon:hover {
  background-position: -32px 0;
}
.telegram {
  background-position: -1px -176px;
}
.telegram:hover {
  background-position: -1px -208px;
}
.medium {
  background-position: -33px -176px;
}
.medium:hover {
  background-position: -33px -208px;
}
.tweeter {
  background-position: -65px -176px;
}
.tweeter:hover {
  background-position: -65px -208px;
}
.reddit {
  background-position: -97px -176px;
}
.reddit:hover {
  background-position: -97px -208px;
}
.facebook {
  background-position: -129px -176px;
}
.facebook:hover {
  background-position: -129px -208px;
}
.github {
  background-position: -161px -176px;
}
.github:hover {
  background-position: -161px -176px;
}
.quality-1 {
  background-position: 1px -140px;
}
.quality-2 {
  background-position: -27px -176px;
}
.quality-3 {
  background-position: -55px -176px;
}
.quality-4 {
  background-position: -83px -176px;
}
.quality-1-colored {
  background-position: 1px -116px;
}
.quality-2-colored {
  background-position: -27px -116px;
}
.quality-3-colored {
  background-position: -55px -116px;
}
.quality-4-colored {
  background-position: -83px -116px;
}
.close-icon {
  background-position: -108px 4px;
}
.all-icon {
  background-position: 4px -36px;
}
.all-icon:hover {
  background-position: -20px -36px;
}
.fave-icon {
  background-position: 4px -62px;
}
.fave-icon:hover {
  background-position: -20px -62px;
}
