@import '../../../../assets/styles/base/variables';

.nat-status {
  display: flex;
  font-style: normal;
  font-weight: $medium-weight;
  font-size: 14px;
  margin-right: 10px;

  &__label {
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 14px;
    margin-right: 10px;
  }

  &__state {
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 14px;
    margin-right: 10px;

    &--failed {
      color: #CB0D0D;
    }

    &--success {
      color: #6DD230;
    }

    &--warning {
      color: #f0ad4e;
    }
  }

  &__help {

  }
}
