@import '../../../../assets/styles/base/variables';

.status-card {
  padding: 22px 0 25px 28px;
  box-shadow: 0 2px 5px rgba(99, 99, 99, 0.05);
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;

  //&__status-text {
  //  font-style: normal;
  //  font-weight: $medium-weight;
  //  font-size: 16px;
  //  line-height: 24px;
  //  color: $main-text-color;
  //}
  &__status-text {
    font-style: normal;
    font-weight: $normal-weight;
    font-size: 14px;
    line-height: 21px;
    color: $names-text-color
  }

  &__status-icon {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  &__nat-text {
    font-style: normal;
    font-weight: $normal-weight;
    font-size: 14px;
    line-height: 21px;
    color: $names-text-color
  }

  &__nat-mode {
    font-style: normal;
    font-weight: $medium-weight;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    margin-left: 5px;
  }

  &__nat-mode-help {
    display: flex;
    align-items: center;
    color: $names-text-color;
    margin-left: 5px;

    &__tooltip {
      padding: 10px 10px 10px 10px;
    }

    &__tooltip-content {
      margin: 5px 0 5px 14px;
    }
  }

  &:last-child {
    padding-right: 28px;
  }
}
