@import 'src/assets/styles/base/mixins/media';

.intercom-messenger-frame {
  @include respond-above(sm) {
    left: 10px !important;
  }
}

.intercom-launcher-frame {
  @include respond-above(sm) {
    left: 10px !important;
  }
  @include respond-below(sm) {
    left: calc(100% - 140px) !important;
    top: 10px !important;
    border: #ffffff 1px solid;
  }
}

.intercom-lightweight-app-launcher {
  @include respond-above(sm) {
    left: 10px !important;
  }
  @include respond-below(sm) {
    left: calc(100% - 140px) !important;
    top: 10px !important;
    border: #ffffff 1px solid;
  }
}

