@import 'src/assets/styles/base/colors';
@import 'src/assets/styles/base/mixins/media';

.navigation {
  background: $background-mysterium;
  padding: 0 18px 0 18px;
  display: flex;

  @include respond-above(sm) {
    height: 100%;
    position: relative;
    flex-direction: column;
  }
  @include respond-below(sm) {
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 78px;
    top: 0;
    z-index: 999;
  }
}

.logo {
  margin-top: 18px;
  margin-bottom: 41px;
}

.navItem {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
