@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/mixins/media';

.table {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  &Spinner {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
  }

  &Overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #dfdfdfd1;
    opacity: 50%;
  }

  &Mobile {
    @include respond-above(sm) {
      display: none;
    }
    @include respond-below(sm) {
      padding: 5px;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border-radius: 5px 5px 0 0;
      > * {
        margin-bottom: 15px;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  &MobileRow {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: $small-size;
    width: 100%;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &Desktop {
    @include respond-below(sm) {
      display: none;
    }
  }

  &Header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px 20px 40px;

    &Cell {
      font-style: normal;
      font-weight: $medium-weight;
      font-size: $smaller-size;
      line-height: 18px;
      color: #AAAAAA;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &Body {
    height: 100%;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    .empty {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .noData {
        font-style: normal;
        font-weight: $normal-weight;
        font-size: $large-size;
        line-height: 21px;
        color: $names-text-color;
      }
    }

    &Row {
      background: #FFFFFF;
      border: 1px solid #ECECF2;
      box-sizing: border-box;
      border-radius: 12px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;

      &Cell {
        padding-right: 0.2em;
        font-style: normal;
        font-weight: $medium-weight;
        font-size: $accent-size;
        line-height: 24px;
        color: $main-text-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
