@import 'src/assets/styles/base/variables';
@import 'src/assets/styles/base/mixins/media';

.header {
  display: flex;
  align-items: center;
  gap: 5px;
}

$tempColor: #f8f8f8;

.pagination {
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;

  .content {
    margin: 20px 0 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .prev {
      margin-left: 20px;
    }

    .next {
      margin-right: 20px;
    }

    .pages {

      display: flex;
      gap: 6px;

      margin: 0 4px 0 4px;

      font-weight: $lighter-weight;
      font-size: $normal-size;

      .page {
        text-align: center;
        background: $tempColor;
        border-radius: 6px;
        width: 36px;
        height: 36px;
        padding: 10px;
        color: #8181A5;
      }

      .ellipsis {
        text-align: center;
        width: 36px;
        height: 36px;
        padding: 10px;
        color: #8181A5;
      }

      .page:hover {
        cursor: pointer;
      }

      .active {
        background: rgba(38, 34, 98, 0.4);
        color: #FFFFFF;
      }
    }
  }
}
